.main-layout {
    background-color: #FF0000;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: powderblue;
    text-align: center;
    color: #4267B2;
    border: 0 !important;
}

#firstname {

}

label {
    font-size: smaller;
}
/* afdsfalkj */